<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Pet Clinic</title>
</head>
<body>
	<!-- Since, Index page is not an expression, we will have to
	surround it with single quotes -->
	<h2 th:text="'List of owners'">List of owners...</h2>
	<table>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="owner : ${owners}">
			<td th:text="${owner.id}"></td>
			<td th:text="${owner.firstName}"></td>
			<td th:text="${owner.lastName}"></td>
		</tr>
	</table>
	
</body>
</html>